<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apotheosis.acceleration.monitor"
    android:versionCode="7"
    android:versionName="2.0.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Acceleration Monitor"
        android:theme="@style/AppTheme"
        android:name="com.apotheosis.acceleration.AccelerationMonitorApp">

        <activity
            android:name=".MainMenuActivity"
            android:label="Acceleration Monitor"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewer.DataViewerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_data_viewer"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".viewer.DataViewerSettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".viewer.DataInfoPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Info Page" >
        </activity>
        <activity
            android:name=".recorder.DataRecorderSettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".viewer.DataViewerHelpPageActivity"
            android:label="Help" >
        </activity>
        <activity
            android:name=".viewer.RawDataViewerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Data" >
        </activity>
    </application>

</manifest>
